<div class="container">
    <h1>{{$model}}{{$length}}</h1>
  
    <div *ngFor="let box of $boxsList; index as i;">
      <table>
        <tr>
          <th>box: {{i+1}}/{{$boxsList.length}}</th>
          <th>ID frome DB</th>
          <th>description</th>
          <th>part number</th>
          <th>quantety</th>
          <th>check</th>
        </tr>
        <tr *ngFor="let row of box.rows; index as j">
          <td>{{j+1}}</td>
          <td>{{box._id}}</td>
          <td>{{row.description}}</td>
          <td><input type="text" name="" id="" value="{{row.PN}}"></td>
          <td>{{row.quantety}}</td>
          <td><input type="checkbox" name="" id=""></td>
        </tr>
      </table>
    </div>
  </div>