<table>
    <tr headRow="bold">
        <td></td>
        <td> Description </td>
        <td> P/N </td>
        <td> Quantity </td>
    </tr>
    <tr>
        <td></td>
        <td> Double Wheel Holder </td>
        <td> 11100461 </td>
        <td> 3 </td>
    </tr>
    <tr>
        <td></td>
        <td> SHAFT SUPPORT </td>
        <td> 11102040 </td>
        <td> 4 </td>
    </tr>
    <tr>
        <td></td>
        <td> BALL LOCK PINS D=12 L=70 </td>
        <td> 77700657 </td>
        <td> 4 </td>
    </tr>
</table>
